.quote {
    text-align: left;
    font-size: 1.5em; /* Increase the font size */
}
body {
    background-color: goldenrod;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white; /* Change text color to white */
}
a {
    color: white; /* Change hyperlink text color to white */
    text-decoration: underline; /* Keep the underline */
}

a:hover {
    color: lightgray; /* Optional: change color on hover */
}